.footer-subtitle {
    text-transform: capitalize;
}

.nav-link {
    color: #031930;
    text-decoration: none;
    font-size: 1.10rem;
}

a {
    color: #031930;
    text-decoration: none;
}

a:hover {
    color: #8816c5;
}