.footer-subtitle {
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    text-transform: capitalize;
}

a {
    color: #031930;
    text-decoration: none;
}

a:hover {
    color: #410a5e;
}