.footer-subtitle {
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    text-transform: capitalize;
}

.nav-link {
    color: #031930;
    text-decoration: none;
    font-family: Inter, sans-serif;
    /* fix for Chrome */
    font-feature-settings: 'liga' 1, 'calt' 1;
}

a {
    color: #031930;
    text-decoration: none;
}

a:hover {
    color: #410a5e;
}