<div class="container my-4">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-9">
                <div class="playfair-display-font fs-3">Key People</div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="col col-lg-9">
                @if (isKpLoading() && !kpError()) {
                <div class="d-flex align-items-center gap-2">
                    <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
                    <span>Loading...</span>
                </div>
                }
                @if (kpError()) {
                <div class="col col-lg-9">
                    <p>{{ kpError() }}</p>
                </div>
                }

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @for (kp of keyPeople(); track kp.id) {
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{kp.position}}</h5>
                                <ul class="list-unstyled card-text mb-0">
                                    @for (person of kp.people; track person) {
                                    <li class="mb-1">{{ person }}</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center mt-5">
            <div class="col col-lg-9">
                <div class="playfair-display-font fs-3">Active Members</div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="col col-lg-9">
                @if (isMemLoading() && !mError()) {
                <div class="d-flex align-items-center gap-2">
                    <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
                    <span>Loading...</span>
                </div>
                }
                @if (mError()) {
                <div class="col col-lg-9">
                    <p>{{ mError() }}</p>
                </div>
                }

                <div class="row row-cols-1 row-cols-md-3 g-3">
                    @for (m of members(); track m) {
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                {{ m }}
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center mt-5">
            <div class="col col-lg-9">
                <div class="playfair-display-font fs-3">Background</div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="col col-lg-9">
                <p>{{ aboutHeadline }}</p>
                <div class="playfair-display-font fs-5 mb-2">Cultural Activities</div>
                <p>{{ culturalActivities }}</p>
                <div class="playfair-display-font fs-5 mb-2">Community Engagement</div>
                <p>{{ communityEng }}</p>
                <div class="playfair-display-font fs-5 mb-2">Impact</div>
                <p>{{ impact }}</p>
            </div>
        </div>
    </div>
</div>