<div class="container my-4">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-9">
                <div class="playfair-display-font fs-4">{{keyPeople.description}}</div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="col col-lg-9">

                <div class="row">
                    @for (kp of keyPeople.data; track kp.id) {
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body pb-0">
                                <h5 class="card-title">{{kp.position}}</h5>
                                <div class="card-text">
                                    @for (person of kp.people; track person) {
                                    <p>{{person}}</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>

            </div>
        </div>

        <div class="row justify-content-md-center mt-3">
            <div class="col col-lg-9">
                <div class="playfair-display-font fs-4">Members</div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="col col-lg-9">
                <p>There's nothing here right now. Check back in some time!</p>
            </div>
        </div>

        <div class="row justify-content-md-center mt-3">
            <div class="col col-lg-9">
                <div class="playfair-display-font fs-4">Background</div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="col col-lg-9">
                <p>There's nothing here right now. Check back in some time!</p>
            </div>
        </div>
    </div>
</div>