/* FONTS */
.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

.inter-font {
    font-family: "Inter", sans-serif;
    /* fix for Chrome */
    font-feature-settings: 'liga' 1, 'calt' 1;
}
